:root {
  --clr-primary: #04c2ff;
  --clr-white: #ffffff;
}

body {
  display: flex;
  background: black;
  overflow: hidden;
  margin: 0;
  color: var(--clr-white);
  font: 6vw 'Russo One', sans-serif;
  height: 100vh;
  box-sizing: border-box;
  align-items: center;
  padding: 10vh 5vw;
}

p {
  white-space: nowrap;
}

img {
  box-sizing: border-box;
  display: block;
  height: 1.5em;
}

.content {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content > * {
  position: absolute;
  backface-visibility: hidden;
  transition: all 1s;
}

.back {
  transform: rotateX(180deg);
  opacity: 0;
}

.highlight {
  color: var(--clr-primary);
  text-transform: uppercase;
}

body.show .front {
  transform: rotateX(-180deg);
  opacity: 0;
}

body.show .back {
  transform: rotateX(0deg);
  opacity: 1;
}