body {
  background: #222 url("../img/background.jpg") center / cover;
  color: #fff;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
  overflow: hidden;
  place-items: center;
  user-select: none;
  font: 1rem 'Russo One', sans-serif;
}

.bg-objects {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 98vh;
  position: absolute;
  width: 100vw;
  z-index: -1;

  img {
    animation: scroll 60s linear infinite;
    width: 10%;
  }
}

img {
  grid-row: 2;
  height: 100%;
}

.typewriter {
  grid-row: 3;

  h1 {
    font-size: 6rem;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 20s steps(22) infinite;
    text-shadow: 0 0 0.1em #000;
  }
}
/* The typing effect */
@keyframes typing {
  0% {
    width: 0;
  }

  10% {
    width: 100%;
  }

  70% {
    width: 100%;
  }

  80% {
    width: 0;
  }

  100% {
    width: 0;
  }
}
/* Background scroll */
@keyframes scroll {
  from {
    transform: translateX(550%);
  }

  to {
    transform: translateX(-550%);
  }
}
