body {
  color: #fafafa;
  font: 5vw 'Russo One', sans-serif;
  user-select: none;
}

h5,
h6,
img,
p {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

.wrapper {
  background: #23272A;
  border-radius: 2vw;
  display: grid;
  grid-gap: 2vw;
  grid-template-columns: 18vw 1fr 14vw;
  height: 22vw;
  place-items: center;
  position: relative;
  padding: 0 2vw;
}

.server-icon {
  border-radius: 50%;
}

.center-text {
  text-align: left;
  width: 100%;
}

h5 {
  font-size: 1.5em;
}

h6 {
  color: #aaa;
  font-size: .9em;
}

.discord-icon {
  animation: float infinite 7s ease;
}


.online {
  background: #161616;
  border-radius: 2vw;
  bottom: 0;
  color: #aaa;
  display: flex;
  justify-content: center;
  padding-bottom: 0.5vw;
  padding-top: 10vw;
  position: absolute;
  transition: bottom ease 1s;
  width: 100vw;
  z-index: -1;
}

.count {
  color: #fafafa;
  padding-left: 1vw;
}

.show {
  bottom: -7.5vw;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2.5vw);
  }

  100% {
    transform: translateY(0);
  }
}