//Discord Widget CSS by Fabian Mäkilä.
//
//
// ---= PROPERTIES =---
//
$gap: 1rem; //Widget's distance from the corner.
$radius: 0.3rem; //border-radius

body {
  color: #fff;
  font: 1rem 'Nunito', sans-serif;
  padding: $gap $gap 1.5rem;
  position: absolute;
  user-select: none;
}

h5,
h6,
img,
p {
  padding: 0;
  margin: 0;
}

img {
  height: 3rem;
}

.wrapper {
  background: #23272A;
  border-radius: $radius;
  display: grid;
  grid-template-columns: 3rem 1fr 3rem;
  padding: 0.75rem;
  place-items: center;
  position: relative;
}

.server-icon {
  border-radius: 50%;
}

.info-text {
  padding-left: 1rem;
  padding-right: 1.5rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 0.8rem;
}

.discord-icon {
  animation: float infinite 7s ease;
  padding-left: 0.5rem;
}


//Online member counter
.online {
  background: #161616;
  border-radius: $radius;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  position: absolute;
  transition: bottom ease 1s;
  width: 100%;
  z-index: -1;
}

.show {
  bottom: -1.5rem;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-0.5rem);
  }

  100% {
    transform: translateY(0);
  }
}
@media(min-width: 710px) {
  html {
    font-size: 2rem;
  }
}
@media(min-width: 1420px) {
  html {
    font-size: 4rem;
  }
}
