body {
  background: #222 url("../img/background.jpg") center / cover;
  color: #fff;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
  overflow: hidden;
  place-items: center;
  user-select: none;
  font: 2.5vw 'Russo One', sans-serif;
}

.bg-objects {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  width: 100vw;
  z-index: -1;

  img {
    animation: scroll 60s linear infinite;
    width: 10%;
    height: 100%;
  }
}

.brand {
  grid-row: 2;
  width: 40vw;
}

.typewriter {
  grid-row: 3;

  h1 {
    white-space: nowrap;
    margin: 0 auto;
    text-shadow: 0 0 0.1em #000;
  }
}
/* Background scroll */
@keyframes scroll {
  from {
    transform: translateX(550%);
  }

  to {
    transform: translateX(-550%);
  }
}
