body {
  background: #222 url('../img/background.jpg') center / cover;
  color: #fff;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
  overflow: hidden;
  place-items: center;
  user-select: none;
}

.bg-objects {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 98vh;
  position: absolute;
  width: 100vw;
  z-index: -1;

  img {
    animation: scroll 60s linear infinite;
    width: 10%;
  }
}

img {
  grid-row: 2;
  height: 100%;
}

@keyframes scroll {
  from {
    transform: translateX(550%);
  }

  to {
    transform: translateX(-550%);
  }
}
